<!DOCTYPE html>
<html>
<head>
	<title>Bucket List front-end</title>
	<link rel="stylesheet" href="/static/css/custom.css">
</head>
<body>
	<div id = "main_container">
		<div id = "top_nav_bar">
			<div class="main_title">
				<p>Bucket List</p>
			</div>
			<div id = "account_widget" class = "widget">
				<button>Account</button>
			</div>
			<div id = "notification_widget" class = "widget">
				<button>Notifications</button>
			</div>
			<div id = "nav_bar_search_bar" class = "widget">
				<input type = "text" name = "search_text"/>
				<button>Search</button>
			</div>
		</div>
		<div id = "filter_tray" class ="row-1">
			<div class = "card">
				<button>Show my posts</button>
				<button>Refresh</button>
				<button>Show post from friends only</button>
				<button>Show all</button>
			</div>
		</div>
		<div class = "col-3" id = "left_panel"></div>
		<div class = "col-6" id = "middle_panel"></div>
		<div class = "col-3" id = "right_panel">
			<div class = "create_card">
				<form>
					<table>
						<tr>
							<h2>Create a wish!</h2>
						</tr>
						<tr>
							<td><input type="text" name="todo" placeholder="I want to do..."></td>
						</tr>
						<tr>
							<td><textarea rows=20 cols=30 placeholder="Story of this bucket item...."></textarea></td>
						</tr>
						<tr>
							<td><button>Add</button></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>

	<script src="/static/js/custom.js"></script>

</body>
</html>
